.container{
    display: flex; 
    flex-direction: column;
    height: 100%;
    width: 99%;
    margin-top:0;
}
.welcome{
    height: 40%;
    width: 99%;
    margin-top:0;
    background-image:url(./assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
    color: white; 
}
.logo{
    margin-top:10%
    
 }
 h3{
    font-weight: normal;
 }
 .about-us{
    height: 40%;
    width: 99%;
    text-align: center;
    color: black;
    line-height:2.0;
   
}
.services{
    height: 40%;
    width: 99%;
    margin-top:0;
    background-image:url(./assets/backgrounds/s_image.jpg);
    background-size: cover;
    text-align: center;
    color:white;
    line-height:2.0;
    text-align: center;
   
}
.what-we-do{
    height: 40%;
    width: 99%;
    margin-top:0;
    text-align: center;
    color:black;
    line-height:2.0;
    text-align: center;
}

.service-icon1 {
    margin-left:10%;
}
.service-icon2 {
    margin-left:20%;
}
.service-icon3 {
    margin-left:20%;
}
.portfolio{
    height: 40%;
    width: 99%;
    margin-top:0;
    text-align: center;
    color:black;
    line-height:2.0;
    text-align: center;
}
.portfolio-icon1 {
    object-fit: contain;
}
.contact-us{
    height: 40%;
    width: 99%;
    margin-top:0;
    text-align: center;
    background-image:url(./assets/backgrounds/c_image.jpg);
    background-size: cover;
    color:black;
    line-height:2.0;
    text-align: center;
}
form {
    height: 40%;
    width: 80%;
    margin-left:10%;
    padding: 2%;
}
input {
    height: 40%;
    width: 40%;
    padding: 2%;
    margin-left:5%;
    opacity: 1.0;
}
textarea {
    height: 40%;
    width: 50%;
    padding: 5%;
    margin-top: 5%;
    opacity: 1.0;
}
.icons{
    height: 40%;
    width: 99%;
    margin-top:2%;
    text-align: center;
    color:black;
    line-height:2.0;
    text-align: center;
}
h4 {
    font-weight:normal;
    margin:0;
}


